
:root {
    --color-primary: #FFE600;
    --color-secondary: #333333;
    --color-additional: #999999;
    --color-accent: #EEEEEE;
    --color-primary-button:  #3483FA;
    --color-background: #FFFFFF;
}