.item-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-accent);

    &__product-info {
        width: 100%;
    }

    &__logo {
        width: 75px;
        height: 75px;
        margin: var(--medium-space);
        border-radius: 4px;
    }

    &__price-wrapper {
        display: flex;
        align-items: center;
        margin-top: var(--medium-space);
        margin-bottom: var(--medium-space);
    }

    &__free_shiping {
        margin-left: var(--small-space);
        width: 15px;
        height: 15px;
    }

    &__price {
        margin: 0;
        font-size: var(--medium-font);
    }
    &__information {
        display: grid;
        grid-template-columns: 7fr 3fr;
        width: 100%;
    }

    &__location {
        margin-right: var(--medium-space);
        margin-bottom: var(--medium-space);
        color: var(--color-additional);
        font-size: var(--extra_small-font);
    }

    &__title-wrapper {
        color: var(--color-secondary);
        margin: 0;
        text-decoration: none;
    }


    &__title {
        width: clamp(150px, 300px, 80%);
        font-size: var(--regular-font);
    }
}

@media screen and (min-width: 641px) {
    .item-wrapper {
        &__logo {
            width: 180px;
            height: 180px;
            margin: var(--medium-space);
            border-radius: 4px;
        }

        &__price-wrapper {
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-bottom: var(--large-space);
        }

        &__free_shiping {
            margin-left: var(--medium-space);
            width: 20px;
            height: 20px;
        }

        &__price {
            margin: 0;
            font-size: var(--large-font);
        }

        &__title {
            width: clamp(150px, 300px, 80%);
            font-size: var(--medium-font);
        }
    }
}
